{
	"@context": [
		"https://www.w3.org/2018/credentials/v1",
		"https://w3c-ccg.github.io/lds-jws2020/contexts/v1",
		"https://credential.ny.gov/base.jsonld",
        "https://credential.ny.gov/dos/broker/brokerLicense.jsonld"
	],
	"id": "{{id}}",
	"type": ["VerifiableCredential", "BrokerLicense"],
	"issuer": "http://localhost:4000/static/credentials/dos/broker/credential.json",
	"guid": "{{guid}}",
	"issuanceDate": "{{issuanceDate}}",
	{{#if expirationDate}}
	"expirationDate": "{{expirationDate}}",
	{{/if}}
	"credentialSubject": {
        "license": {
            "licenseType": "{{subject.license.type}}",
            "licenseId": "{{subject.license.id}}",
            "licensePhoto": "{{subject.license.photo}}"
        },
        {{#if subject.parentBroker.name}}
        "broker": {
            "name": "{{subject.parentBroker.name}}",
            "address": {
                "street": "{{subject.parentBroker.address.street}}",
                "city": "{{subject.parentBroker.address.city}}",
                "state": "{{subject.parentBroker.address.state}}",
                "zip": "{{subject.parentBroker.address.zip}}"
            }
        },
        {{/if}}
        "licensee": {
            "first": "{{subject.licensee.first}}",
            "last": "{{subject.licensee.last}}",
            "middle": "{{subject.licensee.middle}}",
            "address": {
                "street": "{{subject.licensee.address.street}}",
                "city": "{{subject.licensee.address.city}}",
                "state": "{{subject.licensee.address.state}}",
                "zip": "{{subject.licensee.address.zip}}"
            }
        }
	}
}