fieldset label {
    display: block;
    margin-bottom: 0.25em;
}

h1 {
    margin: 0;
}

header, h1, main #user-input {
    margin: 0 0.5em;
}

main {
    display: flex;
    flex: 1;
}

main .row {
    margin-bottom: 0.5em;
}

main fieldset legend {
    padding: 1em 1em 0.5em 1em;
}

main fieldset fieldset legend {
    padding-top: 0.5em;
}

main fieldset fieldset {
    margin-bottom: 0.5em;
}

main #user-input, main #result {
    width: 50%;
}

main #result #code-view {
    overflow: auto;
}

main #result #code-view pre {
    margin: 0;
}

main #review .json-code,
main #review .qr-image {
    margin: 1em;
}

#credential-inputs fieldset {
    margin-bottom: 1em;
}

span.error {
    color: red;
    padding: 0 1em;
}

span.success {
    color:seagreen;
    padding: 0 1em;
}