{
	"@context": [
		"https://www.w3.org/2018/credentials/v1",
		"https://www.w3.org/2018/credentials/examples/v1",
		"https://w3c-ccg.github.io/lds-jws2020/contexts/v1",
		"https://credential.ny.gov/base.jsonld"
	],
	"id": "{{id}}",
	"type": ["VerifiableCredential", "UniversityDegreeCredential"],
	"issuer": "http://localhost:4000/static/credentials/doe/degree/credential.json",
	"guid": "{{guid}}",
	"issuanceDate": "{{issuanceDate}}",
	{{#if expirationDate}}
	"expirationDate": "{{expirationDate}}",
	{{/if}}
	"credentialSubject": {
		"degree": {
			"type": "{{subject.degree.type}}",
			"name": "{{subject.degree.name}}"
		}
	}
}